@import 'vars';

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block
}

audio, canvas, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

button, html, input, select, textarea {
  font-family: sans-serif
}

body {
  margin: 0
}

a {
  background: transparent
}

a:focus {
  outline: thin dotted
}

a:active, a:hover {
  outline: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.5em;
  margin: .83em 0
}

h3 {
  font-size: 1.17em;
  margin: 1em 0
}

h4 {
  font-size: 1em;
  margin: 1.33em 0
}

h5 {
  font-size: .83em;
  margin: 1.67em 0
}

h6 {
  font-size: .75em;
  margin: 2.33em 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019"
}

q:after, q:before {
  content: "";
  content: none
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 0
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0;
  white-space: normal
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline
}

button, input {
  line-height: normal
}

button, select {
  text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], input[disabled] {
  cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

@font-face {
  font-family: Open Sans;
  src: url(/../fonts/OpenSans-Light.ttf);
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: Open Sans;
  src: url(/../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Open Sans;
  src: url(/../fonts/OpenSans-Bold.ttf);
  font-weight: 600;
  font-style: normal
}

.btn {
  align-items: center;
  background: #2dbbff;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  padding: 0;
  text-decoration: none;
  transition: background .15s ease;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase
}

.btn .text--main {
  display: block
}

.btn .text--sub {
  font-size: 13px;
  opacity: .5
}

.btn--xl {
  height: 70px
}

.btn--xl .text--main {
  font-size: 14px
}

.btn--xl .text--sub {
  font-size: 13px;
  opacity: .5
}

.btn--sm {
  height: 50px
}

.btn--sm .text--main {
  font-size: 14px
}

.btn--sm .text--sub {
  font-size: 13px;
  opacity: .5
}

.btn--light {
  border: 0;
  box-shadow: 0 0 1px;
  color: #555;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  height: 34px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  transition: all .3s ease-in-out;
  z-index: 1
}

.btn--light, .modal {
  background-color: #fff;
  position: fixed;
  text-align: center
}

.modal {
  border-radius: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 2;
  animation: c .5s ease-in-out;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .25);
  transition: height .4s ease;
  padding: 25px;
  padding-top: 20px;
  width: 430px;
  box-sizing: content-box;
  font-size: 14px
}

.modal, .modal.signup {
  height: 550px
}

.modal img {
  height: 50px;
  margin-bottom: 12px;
  margin-top: 30px;
  max-width: 100%
}

.modal .sign-up-heading {
  height: 70px;
  margin: 20px auto;
  max-width: 230px
}

.modal .sign-up-heading.error {
  max-width: 310px
}

.modal .email-taken-error {
  text-decoration: underline;
  color: red;
  font-size: 14px
}

.modal h2 {
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: 400
}

.modal p.subtext {
  min-height: 75px
}

.modal h3.error, .modal h3.message {
  min-height: 30px;
  margin: 10px auto;
  max-width: 350px
}

.modal h3.error.error-forgot, .modal h3.message.error-forgot {
  margin: 10px auto
}

.modal .form-container {
  margin: auto;
  max-width: 315px
}

.modal .form-container > :not(:last-child) {
  margin-bottom: 10px
}

.modal a {
  text-decoration: none;
  color: #008ace
}

.modal .btn {
  margin-bottom: 60px
}

.modal .btn:disabled {
  opacity: .5
}

.modal input {
  border: 1px solid #c7c7c7;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%
}

.modal #forgot-back {
  margin-top: 90px
}

.modal .forgot-check {
  display: inline-block;
  width: 1.4em;
  margin: 0 10px;
  position: relative;
  top: 4px
}

.modal .forgot-check .checkmark {
  stroke: #42cd5b;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: g 3s ease-out forwards 1
}

.loader {
  display: inline-block;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid hsla(0, 0%, 100%, .2);
  border-right: 1.1em solid hsla(0, 0%, 100%, .2);
  border-bottom: 1.1em solid hsla(0, 0%, 100%, .2);
  animation: a 1.1s infinite linear
}

.loader, .loader.inverted {
  border-left: 1.1em solid #fff
}

.loader.inverted {
  border-top: 1.1em solid #008ace;
  border-right: 1.1em solid #008ace;
  border-bottom: 1.1em solid #008ace
}

.loader, .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em
}

.loader.small, .loader.small:after {
  width: 6em;
  height: 6em
}

@keyframes a {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

.progress-crumb {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  display: table;
  table-layout: fixed
}

.progress-crumb ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: table-row
}

.progress-crumb .status {
  position: absolute;
  text-align: right;
  height: 2px;
  background-color: #008ace;
  margin-left: 16.6666%;
  z-index: 1;
  transition: width 1s ease;
  opacity: .5
}

.progress-crumb .ball {
  display: inline-block;
  background-color: #fff;
  border: 2px solid #e7e7e7;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.progress-crumb .ball.active {
  background: #fff;
  border: 2px solid $brand-blue;
}

.progress-crumb .ball.latest {
  animation: b .5s;
  animation-delay: .7s;
  animation-fill-mode: forwards;
  border: 2px solid $brand-blue;;
}

.progress-crumb .ball.latest ~ p {
  color: #000
}

.progress-crumb .ball ~ p {
  font-size: 11px;
  font-weight: 500;
  color: #d7d7d7
}

.progress-crumb li {
  display: table-cell;
  font-size: 10px;
  font-weight: 400
}

.progress-crumb li:first-child:before {
  left: 50%
}

.progress-crumb li:last-child:before {
  left: -50%
}

.progress-crumb li:before {
  background-color: #e7e7e7;
  content: "";
  height: 2px;
  display: block;
  margin-bottom: -18px;
  position: relative;
  z-index: 0
}

.progress-crumb li .ball:before {
  content: '';
  background-color: #e7e7e7;
  -webkit-mask-image: url('/img/check-icon.svg');
  mask-image: url('/img/check-icon.svg');
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
  top: 9px;
}

.progress-crumb li .ball.latest:before {
  content: '';
  background-color: #fff;
}

.progress-crumb li .ball.active:before {
  content: '';
  background-color: $brand-blue;
}

.confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  transform: translateX(-5px)
}

.confirm-icon {
  margin: 0 5px
}

.confirm-icon .loader {
  height: 5em;
  width: 5em;
  display: inline-block;
  vertical-align: middle;
  border-top: .3em solid #008ace;
  border-right: .3em solid #008ace;
  border-bottom: .3em solid #008ace;
  border-left: .3em solid #fff
}

.confirm-text {
  color: #42cd5b;
  font-weight: 400
}

.checkmark-wrapper {
  width: 1.4em;
  margin: 0 5px
}

.checkmark-wrapper svg {
  vertical-align: sub
}

.checkmark {
  stroke: #42cd5b;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: f 10.5s ease-out forwards infinite
}

.signup-form {
  margin: auto;
  width: 90%;
  padding: 15px 0;
  padding-bottom: 22px
}

.signup-form input {
  background: none;
  display: inline;
  line-height: 19px;
  padding: 0 15px;
  border: none;
  height: auto;
  width: 100%;
  margin-left: 40px;
  height: 40px;
}

.signup-form input[type=email] {
  border-radius: 3px 0 0 3px
}

.signup-form input[type=password] {
  border-radius: 0
}

.signup-form .btn {
  display: inline-block;
  border-radius: 0 3px 3px 0;
  width: 20%;
  font-size: 14px
}

.subtext {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center
}

@keyframes b {
  0% {
    background-color: #e7e7e7;
    transform: scale(1)
  }
  60% {
    background-color: $brand-blue;
    transform: scale(1.4)
  }
  to {
    background-color: $brand-blue;
    transform: scale(1)
  }
}

@keyframes c {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  30% {
    opacity: 0;
    transform: translateY(20px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes d {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes e {
  0% {
    right: -200px;
    top: 20px
  }
  40% {
    right: 25px;
    top: 20px
  }
  50% {
    right: 20px;
    top: 20px
  }
  70% {
    right: 20px;
    top: 35px
  }
  to {
    right: 20px;
    top: 20px
  }
}

@keyframes f {
  0% {
    stroke-dashoffset: 745.74853515625
  }
  25% {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: 745.74853515625
  }
}

@keyframes g {
  0% {
    stroke-dashoffset: 745.74853515625
  }
  to {
    stroke-dashoffset: 0
  }
}

.indicator {
  animation: e .8s ease;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  background-color: $brand-blue;
  border: 1px solid #fff;
  position: fixed;
  right: -200px;
  top: 20px;
  width: 170px;
  color: #fff;
  padding: 15px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 5px;
  z-index: 3
}

.feature-box {
  max-width: 100%;
  margin-top: 30px;
  margin: auto;
  text-align: center
}

.feature-box .image-wrapper {
  display: inline;
  margin: auto
}

.feature-box .image-wrapper img {
  max-width: 80%
}

.feature-box .feature {
  display: inline-block;
  max-width: 40%;
  padding: 30px
}

.feature-box img, .feature-box span {
  max-width: 100%;
  margin: auto
}

.feature-box span {
  font-size: 12px;
  color: #555;
  line-height: 17px;
  margin-top: 25px;
  display: block
}

.feature-box span * {
  display: inline
}

.focus-box {
  background-color: #fff;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden
}

.focus-box h1 {
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 30px;
  margin-bottom: 0
}

.focus-box h1 #free {
  color: $brand-blue
}

.focus-box p.light {
  opacity: .49;
  font-size: 12px;
  color: #555;
  line-height: 17px
}

.focus-box p.light a {
  color: inherit;
  font-weight: 600
}

.focus-box p.prominent {
  font-size: 14px;
  color: #1d3341;
  line-height: 22px
}

.focus-box #premium-features {
  font-size: 10px;
  margin: 0;
  transform: translateX(-50%);
  color: #555;
  line-height: 13px;
  position: absolute;
  left: 48%;
  font-weight: 400
}

.focus-box #premium-features:after, .focus-box #premium-features:before {
  content: "";
  width: 250px;
  position: absolute;
  height: 1px;
  margin-top: 7px;
  z-index: 0
}

.focus-box #premium-features:before {
  left: 103%;
  background: linear-gradient(90deg, #c7c7c7, 60%, #fff)
}

.focus-box #premium-features:after {
  right: 103%;
  background: linear-gradient(90deg, #fff, 40%, #c7c7c7);
  margin-top: -7px;
}

.focus-box .premium-features-wrapper {
  width: calc(100% - 30px);
  overflow: hidden;
  position: relative;
  height: 15px;
  margin: 15px
}

.focus-box-header {
  background-color: #fafafa;
  width: 100%;
  height: 70px;
  margin: auto;
  border-radius: 10px 10px 0 0
}

.focus-box-header div {
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.focus-box-header div img {
  height: 100%
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: 0 !important
}

body, html {
  font: 16px Open Sans, Arial, sans-serif;
  font-weight: 200;
}

body:before {
  content: '';
  background: url(/img/bg.png) #c9e8ff no-repeat;
  background-position: center 3rem;
  background-size: contain;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .11;
  z-index: -1;
}

h1, h2, h3, h4, h5 {
  color: #1d3341;
  font-weight: 200
}

input {
  height: 50px;
  font-size: 14px;
  background: #fafafa;
  color: #555;
  border-radius: 3px
}

input:focus {
  background-color: #e4f3fa
}

h1 {
  font-size: 33px;
  line-height: 45px
}

h2 {
  font-size: 23px;
  line-height: 32px
}

h3 {
  font-size: 17px;
  font-weight: lighter;
  opacity: .5
}

h4 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px
}

hr {
  border: 0;
  height: 1px;
  opacity: .7;
  width: 100%
}

hr.small {
  max-width: 60%
}

hr.medium {
  max-width: 80%
}

hr.large {
  max-width: 100%
}

.overlay {
  background: rgba(0, 0, 0, .5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2
}

.overlay, .page {
  animation: d .5s ease-in-out
}

.page {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 50px;
  width: 100%
}

.slide-container {
  position: relative;
  min-height: 275px
}

.slide {
  width: 100%;
  transition: transform .4s
}

.slide-enter {
  transform: translate3d(1000px, 0, 0)
}

.slide-enter.slide-enter-active, .slide-leave {
  transform: translateZ(0)
}

.slide-leave.slide-leave-active {
  transform: translate3d(-1000px, 0, 0)
}

a {
  text-decoration: none
}

a.login {
  color: #fff;
  font-size: 12px;
  font-weight: 400
}

.underline {
  text-decoration: underline;
  font-weight: 600
}

.finish {
  h1 {
    margin-bottom: 15px;
  }
}

.finish .btn {
  width: 275px;
  height: 50px
}

.finish p {
  margin: 20px
}

.language-container {
  bottom: 5px;
  left: 25px;
  border-radius: 4px
}

.language-container:hover {
  height: 170px
}

.language-container li {
  padding: 8px 14px
}

.language-container li:hover {
  background-color: #008ace;
  color: #fff
}

.error {
  color: red;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 20px;
  justify-content: center
}

.password-info {
  font-size: 12px;
  transition: all .3s
}

.password-quality {
  height: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin: 0 auto 10px;
  display: flex;
  width: 90%
}

.password-quality .progress-bar {
  transition: width .6s ease;
  background-color: #008ace;
  height: 100%
}

.terms-label {
  padding: 0 0 15px;
  display: block;
  cursor: pointer
}

.terms-label .terms-label__input {
  width: auto;
  margin: 0;
  padding: 0;
  height: auto;
  bottom: -2px;
  position: relative
}

#app-container{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;

  .welcome {
    -webkit-box-pack: center!important;
      justify-content: center!important;
  }
  
  .btn.btn-radius {
    border-radius: 40px;
  }

  .logo {
    text-align: center;

    img {
      max-width: 300px;
    }
  }

  .focus-box {
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
    border: 0;
  }

  #signup-submit {

    .inputs-groups{
      display: flex;
      margin-bottom: 1.5rem;
    }

    .input-group {
      position: relative;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: stretch;
      align-items: stretch;
      width: 100%;
      border: 1px solid #ced4da;
      border-radius: 2px;
      margin-right: .5rem;

      .icon {
        padding: 20px;
        border-right: 1px solid #ced4da;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;        
        position: absolute;

        &.icon-user{
          background: url(/img/form-user-icon.svg) no-repeat;
          background-size: 15px;
          background-position: center;
        }

        &.icon-email{
          background: url(/img/form-email-icon.svg) no-repeat;
          background-size: 15px;
          background-position: center;
        }

        &.icon-key{
          background: url(/img/form-key-icon.svg) no-repeat;
          background-size: 15px;
          background-position: center;
        }
      }
    }

    .input-group::last-child {
      margin-right: 0;
    }
  }

  .terms-wrapper{
    text-align: center;
  }
  
}

